/* ================================================================================== 
									Fonts
===================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ================================================================================== 
										Colors
===================================================================================== */

nav ul li a:hover,
.pl-text>span,
.mbl-menu li a:hover {
	color: #DD4242;
}


.btn-default {
	border-color: #DD4242;
}


/* ================================================================================== 
										Reset Css
===================================================================================== */

html,
body,
div,
span,
h1,
h3,
p,
a,
img,
ul,
li,
header,
nav,
section,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

header,
nav,
section {
	display: block;
}

body {
	font-family: 'Poppins', sans-serif;
	line-height: 1;
	overflow: hidden;
	font-weight: 400;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

* {
	margin: 0;
	padding: 0;
}

a:focus {
	text-decoration: none;
	outline: none;
}

section {
	display: block;
	position: relative;
}

img {
	display: inline-block;
	vertical-align: middle;
}

p {
	font-family: 'Muli';
}

a {
	color: inherit;
}


/* ===================== CROSS BROWSER COMPATABILITY =================== */

a,
.btn-default,
.poly1:before,
.responsive-logo {
	transition: all 0.4s ease-in-out;
}

.play-video {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

/* ==================== TEMPLATE BASIC STYLING =================== */

.container {
	max-width: 1200px;
	padding: 0 15px;
}

.clearfix {
	clear: both;
}

/* ================ HEADER ================ */

header.pb {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	padding: 60px 0 0 0;
	background: inherit;
}

header {
	padding: 60px 0 50px;
	position: relative;
	background-color: #191b27;
}

header.pb:before {
	background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, rgba(22, 25, 33, 0.6) 34.9%, rgba(20, 22, 29, 0.85) 65.62%, #111319 100%);
	-webkit-transform: matrix(1, 0, 0, -1, 0, 0);
	-moz-transform: matrix(1, 0, 0, -1, 0, 0);
	-ms-transform: matrix(1, 0, 0, -1, 0, 0);
	-o-transform: matrix(1, 0, 0, -1, 0, 0);
	transform: matrix(1, 0, 0, -1, 0, 0);
}

header .menu-btn {
	float: right;
	margin-top: 8px;
}

.header-content {
	position: relative;
	z-index: 99;
}

header.pb .container {
	max-width: 100%;
	padding: 0 43px;
}

header .container {
	max-width: 100%;
	padding: 0 70px 0 70px;
}

.logo {
	float: left;
	margin-top: 9px;
}

.logo {
	color: #fff;
	font-size: 40px;
	line-height: 40px;
	font-weight: 800;
	letter-spacing: 2px;
}

nav {
	float: left;
	padding-left: 91px;
	margin-top: 21px;
}

nav ul li {
	display: inline-block;
	margin-right: 56px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	display: inline-block;
	color: #FFFFFF;
	font-size: 18px;
	font-family: 'Muli', sans-serif;
}

.right-side-hd {
	float: right;
}

.right-side-hd>span {
	display: inline-block;
	color: #FFFFFF;
	font-size: 20px;
	font-family: 'Muli', sans-serif;
	margin-right: 57px;
}

.btn-default {
	display: inline-block;
	color: #FFFFFF;
	height: 60px;
	line-height: 58px;
	padding: 0 36px;
	font-size: 20px;
	border: 2px solid;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
}

.btn-default:hover {
	background-color: #dd4142;
	color: #fff;
}

header .menu-btn {
	display: none;
}


/* ================ MAIN BANNER ================ */

.main-banner {

	position: relative;
}

.main-banner::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/Socrates2.jpeg) #121318;
	background-repeat: no-repeat;
	background-position: top right;
	transform: scaleX(-1);
}

.banner-slider {
	/* padding: 170px 0 0px; */
	height: 100vh;
	display: flex;
	align-items: center;
	margin-left: 120px;
}

.main-banner-text {
	max-width: 964px;
	margin-top: 124px;
}

.main-banner-text>span {
	display: inline-block;
	color: #A9AFC3;
	font-size: 16px;
	letter-spacing: 0.05em;
	line-height: 150%;
	text-transform: uppercase;
	position: relative;
	padding-left: 86px;
	margin-bottom: 19px;
	margin-top: -4px;
}

.main-banner-text>span:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 60px;
	height: 1px;
	background-color: #a8afc2;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.main-banner-text>h1 {
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
	text-transform: capitalize;
	color: #FFFFFF;
	margin-bottom: 60px;
}

.main-banner-text>h1 span {
	display: inline-block;
	background-color: #dc4242;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	left: 0px;
}

.main-banner-text>p {
	font-weight: 300;
	font-size: 22px;
	line-height: 150%;
	color: #A9AFC3;
	max-width: 580px;
	margin-bottom: 70px;
}

.play-video-div {
	display: table-cell;
	margin-top: 36px;
}

.poly1 {
	display: table-cell;
	width: 130px;
	height: 130px;
	position: relative;
}

.poly1:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 130px;
	height: 130px;
	background-image: url(../images/icon2.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.poly1:hover:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

.poly2 {
	position: absolute;
	display: inline-block;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.poly2:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background-image: url(../images/icon3.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.play-video {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0.9);
	-moz-transform: translate(-50%, -50%) scale(0.9);
	-ms-transform: translate(-50%, -50%) scale(0.9);
	-o-transform: translate(-50%, -50%) scale(0.9);
	transform: translate(-50%, -50%) scale(0.9);
	display: inline-block;
	color: #fff;
	width: 80px;
	height: 80px;
	background-color: #dd4142;
	text-align: center;
	line-height: 80px;
}

.play-video>img {
	width: auto;
	display: inline-block;
}

.pl-text {
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
}

.pl-text>h3 {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #FFFFFF;
	border-bottom: 1px solid #2A2E3D;
	padding-bottom: 10px;
	margin-bottom: 4px;
}

.pl-text>span {
	display: block;
	font-size: 18px;
	line-height: 150%;
	font-family: 'Muli', sans-serif;
}

/* ==================== EXPTZ SECTION =================== */

/* ================= SERVICES SECTION ==================== */



/* ================= CONSULTATION SECTION ==================== */

/* CONTACT FORM */


/* ===================== WHY CHOOSE US SECTION ================== */


/* ==================== CASES SECTION ====================== */

/*.pft-items .row .col-lg-4:last-child {
	position: absolute;
	top: 0;
	display: none;
	left: 100%;
}*/




/* =================== BLOG POSTS ==================== */

.meta {
	margin-bottom: 13px;
}

.meta li {
	display: inline-block;
	margin-right: 15px;
}

.meta li:last-child {
	margin-right: 0;
}

.meta li span {
	display: inline-block;
	color: #A9AFC3;
	font-size: 14px;
	line-height: 170%;
	font-family: 'Muli';
}

/* ======================= FOOTER ========================= */



/* TESTIMONIAL SECTION */


/* BOTTOM FOOTER */


/* ==================== LEFT SIDEBAR ===================== */

.left-sidebar {
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	width: 180px;
	z-index: 999;
	height: 100%;
	text-align: center;
	background-color: transparent;
}

.wrapper {
	float: right;
	width: 100%;
	padding-left: 80px;
}

.menu-btn {
	margin-top: 60px;
	display: inline-block;
	position: relative;
}

.mbl-menu {
	position: relative;
	top: calc(100vh - 390px);
}

.mbl-menu li {
	display: inline-block;
	margin-bottom: 105px;
	position: relative;
}

.mbl-menu:before {
	content: '';
	position: absolute;
	bottom: -77px;
	left: 50%;
	height: 100px;
	width: 1px;
	background: #A9AFC3;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	margin-left: 3px;
}

.mbl-menu li a {
	font-family: Muli;
	font-size: 14px;
	line-height: 150%;
	text-transform: uppercase;
	color: #A9AFC3;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: inline-block;
	flex: none;
	order: 1;
	align-self: center;
	margin: 0px 60px;
}


/* ================== ABOUT PAGE ===================== */


/* ================ ABOUT US (ABOUT PAGE) ==================== */


/* =================== TEAM SECTION ===================== */

/* =================== PARTNERS SECTION =================== */

/* =================== VIDEO SECTION ================= */


/* =============== SERVICES PAGE =============== */


/* ====================== PRICES SECTION ===================== */


/* ===================== SERVICES DETAILS PAGE =================== */

.service-details {
	padding-bottom: 121px;
}

/* SIDEBAR */


/* ================ WIDGET HELP ================== */

/* WIDGET NEWSLETTER */

/* ==================== CASE STUDIES SECTION =================== */

/* CASE CONTENT */

/* POST CONTROLS */

/* RELATED POSTS (BLOG SINGLE) */


/* COMMENTS SECTION */


/* POST COMMENT SECTION */

/* SIDEBAR (BLOG) */


/* WIDGET CATEGORIES */


/* WIDGET RECENT POSTS */

/* WIDGET TAGS */




/* =================== CONTACT PAGE ================== */


/* MAP SECTION */

/* ERROR PAGE */


/* RESPONSIVE MOBILE MENU */



.responsive-logo {
	margin-bottom: 100px;
	opacity: 0;
	visibility: hidden;
}


.banner-slider .slick-prev,
.banner-slider .slick-next {
	top: auto;
	bottom: 60px;
	color: #ffffff;
	font-size: 20px;
	width: auto;
	height: auto;
	transform: translate(0px, 0px);
	width: 100px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ffffff;
	display: flex;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.banner-slider .slick-prev::before,
.banner-slider .slick-next::before {
	display: none;
}

.slick-prev {
	left: initial;
}

.banner-slider .slick-prev {
	right: 200px !important;
}

.banner-slider .slick-next {
	right: 44px !important;
}

/* ================================================================================== 
										Responsive
===================================================================================== */

@media (max-width: 1650px) {
	.left-sidebar {
		width: 100px;
	}

	.wrapper {
		width: 100%;
	}

	.mbl-menu li a {
		margin: 0;
	}

	header .container {
		padding: 0 30px;
	}

	header.pb .container {
		padding: 0 43px;
	}
}

@media (max-width: 1366px) {
	.main-banner {
		background-size: cover;
		background-position: center;
	}

	header.pb .container {
		padding: 0 43px;
	}
}

@media (max-width: 1200px) {
	.left-sidebar {
		display: none;
	}

	.wrapper {
		width: 100%;
	}

	header .container {
		padding: 0 15px;
	}

	nav {
		padding-left: 40px;
	}

	nav ul li {
		margin-right: 40px;
	}

	nav ul li:last-child {
		margin-right: 0;
	}


	.main-banner-text>p {
		max-width: 100%;
	}

	header {
		padding: 30px 0 65px;
	}

	header.pb .container {
		padding: 0 43px;
	}

	.banner-slider {
		margin-left: 30px;
	}
}

@media (max-width: 991px) {
	.right-side-hd {
		display: none;
	}

	header nav {
		display: none;
	}

	header {
		padding-top: 30px;
	}

	.banner-slider {
		padding: 210px 0 130px;
	}

	header .menu-btn {
		display: block;
	}

	header {
		border-bottom: 1px solid #5d616d4d;
		padding: 30px 0;
	}

	header.pb {
		border-bottom: 0;
		padding-top: 25px;
	}
}


@media (max-width: 768px) {
	.main-banner-text>h1 {
		font-size: 54px;
	}

	.main-banner-text>p {
		font-size: 18px;
		line-height: 34px;
		margin-bottom: 40px;
	}

	.banner-slider .slick-next {
		right: 20px !important;
	}

	.banner-slider .slick-prev {
		right: 150px !important;
	}

	.banner-slider .slick-prev,
	.banner-slider .slick-next {
		bottom: 30px;
	}

	.main-banner-text {
		margin-top: 0px;
	}
}



@media (max-width: 480px) {
	.main-banner-text>h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.main-banner-text>h1 span {
		width: 10px;
		height: 10px;
		left: 0;
	}

	.banner-slider {
		padding: 180px 0 130px;
	}

	.main-banner-text>p {
		font-size: 15px;
		line-height: 27px;
	}

	.btn-default {
		height: 50px;
		line-height: 46px;
		height: 50px;
		font-size: 16px;
	}

	.pl-text {
		padding-left: 0;
	}
}